@page "/ingredientes"
@using Blazored.Toast.Services
@using DTOs
@using Microsoft.AspNetCore.Components.Authorization
@using Radzen
@using Radzen.Blazor
@using SmartBurguerValueFront.Components.Inputs
@using SmartBurguerValueFront.Components.buttons
@inject HttpClient Http
@inject DialogService DialogService
@inject IConfiguration Configuration
@inject CustomAuthStateProvider _auth
@inject IToastService _toast
@inject NavigationManager _nav

<PageTitle>Ingredientes</PageTitle>

<div class="p-2 p-md-4">
<h4>Lista de Ingredientes e insumos</h4>

<div class="mb-3 d-flex flex-row justify-content-between align-items-center gap-3 w-100">
    <InputTextFilterTabs Filter="@filterName" FilterChanged="OnFilterChanged" />
    <ButtonPrimary BackgroundColor="bg-orange" Text="Novo Ingrediente" Url="/ingredientes/cad" Icon="fas fa-plus icon-inside-input" />
</div>

@if (isLoading)
{
    <RadzenProgressBar Mode="ProgressBarMode.Indeterminate" Style="background-color: var(--orange)" />
}
else if (loadError)
{
    <RadzenAlert Severity="AlertSeverity.Error">
        Erro ao carregar os dados da API.
    </RadzenAlert>
}
else
{
    <RadzenDataGrid TItem="IngredientsDTO" Data="@IngredientsFilter" ColumnWidth="200px"
                    AllowPaging="true" PageSize="10" AllowSorting="true" ShowPagingSummary="true"
                    Style="box-shadow: 0 4px 12px rgba(0,0,0,0.1); border-radius: 12px;">
        <Columns>
            <RadzenDataGridColumn TItem="IngredientsDTO" Property="Name" Title="Nome" />
            <RadzenDataGridColumn TItem="IngredientsDTO" Property="UnitOfMeasureName" Title="Formato de Compra" />
            <RadzenDataGridColumn TItem="IngredientsDTO" Title="Status">
                <Template Context="ingredient">
                    @(ingredient.IsActive ? "Ativo" : "Inativo")
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="IngredientsDTO" Title="Ações">
                <Template Context="ingredient">
                    <RadzenButton Icon="edit" Size="ButtonSize.Small" Style="margin-right: 5px;" Click="() => EditIngredient(ingredient.Id)" />
                    <RadzenButton Icon="delete" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Danger" Click="() => RemoveIngredient(ingredient.Id)" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}
</div>
@code {
    private List<IngredientsDTO> Ingredients = new();
    public Guid? EnterpriseId { get; set; }
    private string filterName = "";
    private bool isLoading = true;
    private bool loadError = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            EnterpriseId = await _auth.GetEnterpriseId();
            var baseUrl = Configuration["UrlApi"];
            var endpoint = $"{baseUrl}ingredient/get-all/by-enterprise-id?enterpriseId={EnterpriseId}";

            Ingredients = await Http.GetFromJsonAsync<List<IngredientsDTO>>(endpoint) ?? new();

            loadError = false;
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Erro ao buscar dados da API: {ex.Message}");
            loadError = true;
        }
        finally
        {
            isLoading = false;
        }
    }

    private IEnumerable<IngredientsDTO> IngredientsFilter =>
        Ingredients.Where(p => string.IsNullOrWhiteSpace(filterName) || p.Name.Contains(filterName, StringComparison.OrdinalIgnoreCase));

    private void OnFilterChanged(string value) => filterName = value;

    private void OnRowSelect(IngredientsDTO ingredient)
    {
        Console.WriteLine($"Selecionado: {ingredient.Name}");
    }

    private void EditIngredient(Guid id)
    {
        _nav.NavigateTo($"/ingredientes/edit/{id}");
    }

    private async Task RemoveIngredient(Guid id)
    {
        var baseUrl = Configuration["UrlApi"];
        var endpoint = $"{baseUrl}ingredient/delete/{id}";

        var response = await Http.DeleteAsync(endpoint);

        if (response.IsSuccessStatusCode)
        {
            _toast.ShowSuccess("Ingrediente deletado com sucesso!");
            Ingredients = Ingredients.Where(i => i.Id != id).ToList();
        }
        else
        {
            _toast.ShowError("Erro ao deletar ingrediente.");
        }
    }
}
