<footer class="sb-footer d-flex flex-column flex-md-row justify-content-around">
    <a href="/politica-privacidade" style="text-decoration:none; color:var(--white)">Política de Privacidade</a>
    &copy; 2025 Smart Burger Value - Lenner Augusto. Todos os direitos reservados.
    <a href="/termos-de-uso" style="text-decoration:none; color:var(--white)">Termos de Uso</a>
</footer>

@code {

}
