<div class="d-flex flex-row justify-content-between align-items-center bg-orange-background p-3">
    <p style="color: var(--grey-30)">Copyright © 2025 Lenner Augusto</p>
    <p style="color: var(--grey-20)">Política de Privacidade</p>
    <p style="color: var(--grey-20)">Termos e Condições</p>
    <p style="color: var(--grey-20)">Redes Sociais</p>
    
</div>

@code {

}
