@using Microsoft.AspNetCore.Components.Authorization
@using SmartBurguerValueFront.Services
@inject AuthService Auth

<AuthorizeView>
    <Authorized>
    </Authorized>
    <NotAuthorized>
        <a href="/login" class="btn btn-outline-light btn-sm">Entrar</a>
    </NotAuthorized>
</AuthorizeView>

