<div class="top-row ps-3 navbar" style="background-color:white;">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SmartBurguerValueFront</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" style="background-color:var(--white)!important;" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <div class="border-custom px-2">
                <NavLink class="nav-link item-customize" href="/" Match="NavLinkMatch.All">
                    <i class="fas fa-th-large m-1 m-md-3"></i> Dashboard
                </NavLink> 
            </div>
        </div>
        <div class="nav-item px-3">
            <div class="border-custom px-2">
                <NavLink class="nav-link item-customize" href="/produtos" Match="NavLinkMatch.All">
                    <i class="fas fa-hamburger m-1 m-md-3"></i> Produtos
                </NavLink>
            </div>
        </div>
        <div class="nav-item px-3">
            <div class="border-custom px-2">
                <NavLink class="nav-link item-customize" href="/ingredientes" Match="NavLinkMatch.All">
                    <i class="fas fa-drumstick-bite m-1 m-md-3"></i> Ingredientes
                </NavLink>
            </div>
        </div>
        <div class="nav-item px-3">
            <div class="border-custom px-2">
                <NavLink class="nav-link item-customize" href="/" Match="NavLinkMatch.All">
                    <i class="fas fa-box m-1 m-md-3"></i> Combos
                </NavLink>
            </div>
        </div>
        <div class="nav-item px-3">
            <div class="border-custom px-2">
                <NavLink class="nav-link item-customize" href="/compras" Match="NavLinkMatch.All">
                    <i class="fas fa-shopping-cart m-1 m-md-3"></i> Compras
                </NavLink>
            </div>
        </div>
        <div class="nav-item px-3">
            <div class="border-custom px-2">
                <NavLink class="nav-link item-customize" href="/funcionarios" Match="NavLinkMatch.All">
                    <i class="fas fa-users m-1 m-md-3"></i> Funcionários
                </NavLink>
            </div>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
