@page "/"

@inject HttpClient Http
@inject CustomAuthStateProvider _auth
<PageTitle>Home</PageTitle>

<div class="h-100 w-100">
    <div class="d-none d-md-flex justify-content-center align-items-center h-100 w-100">
        <img src="/img/bg-home-admin.png"
             alt="Bem-vindo ao painel administrativo"
             style="border-radius:8px; width: 700px; height:600px;" />
    </div>

    <div class="d-flex d-md-none justify-content-center align-items-center h-100 w-100 text-center">
        <h1>SmartBurguerValue Painel administrativo</h1>
    </div>
</div>
