.select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}
.select-primary-container:focus {
    outline: none;

}
.select-primary-container {
    width: 100%;
    padding: 10px 14px;
    padding-right: 35px;
    border:none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: var(--text-black);
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    cursor: pointer;
}

    .select-primary-container option {
        color: var(--text-black);
    }

.select-icon {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--grey-30);
}
